.banner{
	padding-top: 30rpx;
	swiper{
		height: 460rpx;
		swiper-item{
			image{
				width: 690rpx;
				height: 460rpx;
				border-radius: 30rpx;
			}
		}
	}
}

.scrollNav{
	padding:30rpx 30rpx;
	scroll-view{
		white-space: nowrap;
		.item{
			display: inline-block;
			padding:0 25rpx;
			text-align: center;
			.pic{
				width: 100rpx;
				height: 100rpx;
				margin-left: 18rpx;
				image{
					width: 100%;
					height: 100%;
				}
			}
			.text{
				font-size: 32rpx;
				color: var(--globalColor);
				padding-top: 10rpx;
			}
		}
		.item:first-child{padding-left: 0;}
		.item:last-child{padding-right: 0;}
	}
}
//vant tabs
.van-tab__title{
	font-size: 35rpx;
}
.van-tab--active{
	.van-tab__title{
		font-weight: 500;
		color: #f09637;
	}
}

.loadout{
	text-align: center;
	padding: 30rpx 0;
	.nodata{
		font-size: 30rpx;
		color: #666;
	}
}


