.footer{
	padding: 50rpx 0;
	text-align: center;
	background-color: var(--globalBgColor);
	border-top: 1px solid var(--themeColor);
	color: var(--lessGrayColor);
	font-size: 30rpx;
	line-height: 1.8em;
}

.publishActivaty{
	width: 100rpx;
	height: 100rpx;
	background-color: var(--themeColor);
	position:fixed;
	bottom:100rpx;
	right:60rpx;
	border-radius: 50%;
	box-shadow: 0 0 50rpx #e18a39;
	z-index: 10;
	.btn{
		position: relative;
		z-index: 2;
		border-radius: 50%;
		width: 100%;
		height: 100%;
		opacity: 0;
	}
	.pic{
		width: 85%;
		height: 85%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		position: absolute;
		z-index: 1;
	}
	.line{
		width: 100%;
		height: 100%;
		border: 3px solid #e18a39;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 50%;
		animation: emit 1.5s infinite;
	}
}

@keyframes emit{
	0%{}
	100%{
		border-width: 1px;
		opacity: 0;
		transform: scale(1.4);
	}
}

.cell-group{
	padding: 30rpx;
}

button{width: 100%!important;}

.myscroll{
	height: 800rpx;
}

//上传图片相关
.wrap {
  width: 100%;
  padding: 0 0rpx;
  box-sizing: border-box;
}
.wrap .img-wrap {
  font-size: 30rpx;
  color: #33373E;
  margin-bottom: 10rpx;
}
.wrap .img-wrap .txt {
  margin-bottom: 20rpx;
}
.wrap .img-wrap .imglist {
	padding-top: 16rpx;
	padding-left: 30rpx;
  display: flex;
  flex-wrap: wrap;
}
.wrap .img-wrap .imglist .item {
  width: 150rpx;
  height: 150rpx;
  margin-right: 22rpx;
  margin-bottom: 10rpx;
  position: relative;
}
.wrap .img-wrap .imglist .last-item {
  width: 150rpx;
  height: 150rpx;
  text-align: center;
  line-height: 146rpx;
  border: 2rpx dashed #8B97A9;
  box-sizing: border-box;
}
.wrap .img-wrap .imglist .item image {
  width: 100%;
  height: 100%;
}
.wrap .img-wrap .imglist .item .delete {
  width: 30rpx;
  height: 30rpx;
  position: absolute;
  top: -14rpx;
  right: -12rpx;
}

