.footer{
	padding: 50rpx 0;
	text-align: center;
	background-color: var(--globalBgColor);
	border-top: 1px solid var(--themeColor);
	color: var(--lessGrayColor);
	font-size: 30rpx;
	line-height: 1.8em;
}
